[core]
network_timeout=10
system_timeout=20
confidence_threshold=0.5
decision_handler=local
signature_age=45
freshness_limit=1.5

[general]
localpeer=testpeer
debug=False

[database]
#url=mysql://%(user)s:%(pass)s@%(host)s/%(database)s
url=sqlite:///database.db
host=localhost
database=socialscan
user=root
pass=b12kj3as201n

[container_manager]
share_location=data/shared/digests/{uuid}
storage_location=data/foreign/digests/{uuid}
share_url=http://{bindhost}:{port}/shared/digests/{uuid}
loadlimit=15
maxcapacity=300
announce_distance=10.0
updateoursd_interval=60
retrievesd_interval=120
process_single_sd=True
download_timeout=120
activescan_interval=0.1
redemption_hours=72.0
redemption_amount=0.1

[sharing]
bindhost=127.0.0.1
port=8123
rpcport=8321

[scanning]
max_active_distance=10.0
max_active_retries=20
download_location=data/foreign/scans/{id}
handler=dummy
timeout=0.5

local_server_location=data/foreign/scans/
local_server_url=http://127.0.0.1:%(local_server_port)s/{id}
local_server_port=8001

_core_port = 8111

[sethash]
algorithm = sha256
