[application]
twitter_consumer_key: styyFzwebIzfSUU7V8EVw
twitter_consumer_secret: emnVP2tmTKdyeUVUSpIAmAA2ejYZKuEeICyWM0OA
facebook_consumer_key: 346589735369619
facebook_consumer_secret: 41959adb3b0fb14c687a6d459c63f2b1
facebook_token = 346589735369619|OBrhOpBMUBv7wEHALS0NLtbiEyw
request_token_url: https://api.twitter.com/oauth/request_token
authorize_url: https://api.twitter.com/oauth/authorize
access_token_url: https://api.twitter.com/oauth/access_token

[db]
filename_twitter: twitter.json
filename_facebook: facebook.json
mysql_connection: mysql://root:123456@127.0.0.1/socialscan

[social]
url_get_ip : http://automation.whatismyip.com/n09230945.asp
update_number: 100
time_read_dm = 21600
time_send_dm = 21600
time_read_public_key = 86400
social_distace_allowed = 3
inbox_folder = INBOX
sent_fonder = [Gmail]/Enviados
imap_server = imap.gmail.com
imap_port = 993
smtp_server = smtp.gmail.com
smtp_port = 587
